@font-face {
  font-family: "Noto Sans";
  src:
    url("@/assets/fonts/NotoSans.woff2") format("woff2"),
    url("@/assets/fonts/NotoSans.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans";
  src:
    url("@/assets/fonts/NotoSans-Italic.woff2") format("woff2"),
    url("@/assets/fonts/NotoSans-Italic.woff") format("woff");
  font-style: italic;
}

@font-face {
  font-family: "Roboto Mono";
  src:
    url("@/assets/fonts/RobotoMono.woff2") format("woff2"),
    url("@/assets/fonts/RobotoMono.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: "Roboto Mono";
  src:
    url("@/assets/fonts/RobotoMono-Italic.woff2") format("woff2"),
    url("@/assets/fonts/RobotoMono-Italic.woff") format("woff");
  font-style: italic;
}
