#root {
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 48px 80px;
    z-index: 0;
}

#background-overlay {
    background-color: var(--settings-button-normal);
    position: absolute;
    min-height: 300px;
    width: inherit;
    top: 0px;
    left: 0px;
    z-index: -1;
}

.logo {
    color: var(--logo-color);
    width: 303px;
    height: 72px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3.5rem;
}

.links {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 1rem;
}

.link {
    opacity: 50%;
    transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover {
    opacity: 75%;
}

.link.active {
    opacity: 100%;
}

.page-title {
    font-size: 4rem;
    font-weight: bold;
    transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 5rem;
}