#popup {
    padding: var(--pad-16);
    background-color: var(--background-color);
    min-width: var(--popup-width);
}

.popup-container {
    display: flex;
    flex-direction: column;
    gap: var(--gap-big);
}

.buttons-container {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.btn {
    display: flex;
    align-items: center;
    gap: var(--gap);
    padding: var(--btn-pad);
    color: var(--text-color);
    background-color: var(--button-color);
    border-radius: var(--btn-rad);
    transition: var(--global-transition);
}

.btn:hover {
    background-color: var(--button-hover-color);
}

.logo {
    cursor: pointer;
    color: var(--logo-color);
}
