#popup {
    padding: var(--pad-16);
    background-color: var(--background-color);
    min-width: var(--popup-width);
}

.popup-container {
    display: flex;
    flex-direction: column;
    gap: var(--gap-big);
    position: relative;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.btn {
    display: flex;
    align-items: center;
    gap: var(--gap);
    padding: var(--btn-pad);
    color: var(--text-color);
    background-color: var(--button-color);
    border-radius: var(--btn-rad);
    transition: var(--global-transition);
}

.btn:hover {
    background-color: var(--button-hover-color);
}

.logo {
    cursor: pointer;
    color: var(--logo-color);
}

.input-text {
    font-size: 0.9rem;
}

.input-text {
    display: inline-block;
    width: fit-content;
    color: var(--text-color);
}

.switch {
    gap: 5px;
}

.switch-icon-container {
    height: 1.5rem;
    width: 3rem;
}

.switch-icon {
    width: 1rem;
    height: 1rem;
}

.switch[data-checked] .switch-icon {
    transform: translateX(1.5rem);
}