@media (max-width: 600px) {
    #root {
        padding: 24px 40px !important;
    }

    .navbar .logo {
        width: 253px !important;
    }

    .navbar .links {
        display: none !important;
    }

    .navbar {
        position: relative !important;
    }

    .navbar .mobile-navbar-btn {
        font-size: 2rem !important;
        display: inline-block !important;
    }

    .navbar .mobile-navbar {
        display: block !important;
        border: 0 !important;
        border-right: 1px solid rgb(from var(--overlay-color) r g b / 0.9) !important;
    }

    .mobile-navbar .ps-sidebar-container {
        padding-top: 50px !important;
        background-color: rgb(from var(--background-overlay-color) r g b / 0.9) !important;
    }

    .mobile-navbar .ps-menu-button:hover {
        background-color: var(--accent-color) !important;
    }
}