.color-picker {
    display: flex;
    gap: var(--gap);
    align-items: center;
}

.color-picker-label {
    font-size: 1.25rem;
}

.color-picker-button {
    display: flex;
    align-items: center;
    gap: var(--gap);
    padding: 5px 10px;
    border-radius: 4px;
    background-color: var(--over-overlay-color);
}

.current-color {
    width: 50px;
    height: 24px;
}

.color-picker-panel {
    background-color: var(--over-overlay-color);
    border-radius: 4px;
    animation: fadeDropIn 150ms ease forwards;
    overflow: hidden;
}
