.radio-group {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.radio {
    display: flex;
    align-items: center;
    gap: var(--gap);
    cursor: pointer;
    width: fit-content;
}

.circle-icon {
    color: var(--good-color);
}

.circle-icon-container {
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: var(--input-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.radio[data-checked] .circle-icon {
    transform: scale(1.2); /* pop a bit bigger */
    opacity: 1;
    transition:
        transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55),
        opacity 0.3s ease;
}

.radio:not([data-checked]) .circle-icon {
    opacity: 0%;
    transform: scale(0);
    transform-origin: center;
}
